<div class="game-component">

  <mat-card *ngIf="(gameService.game | async) === null">
    <mat-card-header class="header">
      <mat-card-title>
        <fa-icon class="icon" [icon]="faExclamationTriangle"></fa-icon>
        <br>
        {{ 'game.does-not-exist.title' | translate }}
      </mat-card-title>
      <mat-card-subtitle>
        {{ 'game.does-not-exist.subtitle' | translate }}
      </mat-card-subtitle>
    </mat-card-header>
  </mat-card>

  <mat-card *ngIf="(gameService.game | async) === undefined">
    <mat-card-header class="header">
      <mat-card-title>
        <mat-spinner class="loading"></mat-spinner>
        <br>
        {{ 'game.loading.title' | translate }}
      </mat-card-title>
      <mat-card-subtitle>
        {{ 'game.loading.subtitle' | translate }}
      </mat-card-subtitle>
    </mat-card-header>
  </mat-card>

  <div *ngIf="gameService.game | async">

    <app-choose-side
      *ngIf="(gameService.game | async).whitePlayerReady === false || (gameService.game | async).blackPlayerReady === false">
    </app-choose-side>

    <mat-card *ngIf="chessLogic">
      <app-player-banner [chessLogic]="chessLogic" [side]="getUpperBannerSide()"></app-player-banner>
      <app-board [chessLogic]="chessLogic" [playsAs]="gameService.playsAs()"></app-board>
      <app-player-banner [chessLogic]="chessLogic" [side]="getLowerBannerSide()"></app-player-banner>

      <button
        *ngIf="(gameService.game | async).result !== GameStatus.UNDEFINED && (roomService.isRoomOwner | async) === true"
        class="new-game-button" color="primary" mat-raised-button
        (click)="onStartNewgame()">{{ 'game.new-game' | translate }}</button>

      <app-players-list></app-players-list>
    </mat-card>

  </div>
</div>
