.game-component {

  .header {
    flex-direction: column;
    text-align: center;

    .loading {
      margin: auto;
    }

    .icon {
      font-size: 5rem;
      margin-bottom: 0.2rem;
      display: inline-block;
    }
  }

  .new-game-button {
    margin-top: 0.4rem;
    width: 100%;
  }
}
