<div class="navigation-bar-component">
  <div class="buttons">
    <button mat-icon-button (click)="onShareRoom()"
      [matTooltip]="'navigation-bar.share-room.button-description' | translate">
      <fa-icon class="icon" [icon]="faShareAlt"></fa-icon>
      <input class="off-screen" #shareRoomInputRef [(ngModel)]="shareRoomInput" readonly>
    </button>
    <button mat-icon-button (click)="onOptionsOpen()" [matTooltip]="'navigation-bar.settings-description' | translate">
      <fa-icon class="icon" [icon]="faCog"></fa-icon>
    </button>
  </div>
</div>
