.navigation-bar-component {
  margin-bottom: 0.7rem;

  .buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 0 -0.2rem;

    button {
      margin: 0 0.2rem;
    }
  }

  .off-screen {
    position: absolute;
    top: -9999em;
    left: -9999em;
    z-index: -9999;
  }
}
