<div class="settings-component">

  <div class="user">
    <mat-card-header>
      <div mat-card-avatar class="avatar">
        <div class="avatar">
          <img
            [src]="(authService.user | async).avatarUrl || 'https://ssl.gstatic.com/images/branding/product/1x/avatar_anonymous_square_512dp.png'" />
        </div>
      </div>
      <mat-card-title>{{ (authService.user | async).displayedName || ('player.anonymous' | translate) }}
      </mat-card-title>
      <mat-card-subtitle>{{ (authService.user | async).email || ('player.no-email' | translate) }}</mat-card-subtitle>
    </mat-card-header>
    <div class="buttons">
      <button mat-icon-button mat-raised-button (click)="onLogout()" [matTooltip]="'settings.logout' | translate">
        <fa-icon [icon]="faUserAltSlash"></fa-icon>
      </button>
    </div>
  </div>

  <mat-card-content class="settings">
    <mat-form-field>
      <mat-label>{{ 'settings.language' | translate }}</mat-label>
      <mat-select [(ngModel)]="editedSettings.language">
        <mat-option *ngFor="let language of Language | keyvalue" [value]="language.key">
          {{language.value}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>{{ 'settings.username' | translate }}</mat-label>
      <input matInput [(ngModel)]="editedUsername" maxlength="80" [placeholder]="'player.anonymous' | translate">
    </mat-form-field>
    <mat-slide-toggle [(ngModel)]="editedSettings.sound">{{ 'settings.sound' | translate }}</mat-slide-toggle>
    <mat-slide-toggle [(ngModel)]="editedSettings.vibrations">{{ 'settings.vibrations' | translate }}</mat-slide-toggle>
    <mat-slide-toggle [(ngModel)]="editedSettings.highlightPossibleMoves">
      {{ 'settings.highlight-possible-moves' | translate }}</mat-slide-toggle>
  </mat-card-content>

  <div class="actions">
    <button mat-button (click)="onCancel()">{{ 'common.cancel' | translate }}</button>
    <button mat-raised-button color="primary" (click)="onSave()">{{ 'common.save' | translate }}</button>
  </div>

</div>