$avatar-size: 2.7rem;

.settings-component {
  .user {
    display: flex;
    flex-direction: row;

    .avatar {
      img {
        width: $avatar-size;
        height: $avatar-size;
        border-radius: 50%;
      }
    }
  }

  .buttons {
    text-align: right;
    margin-left: 1rem;
    padding-top: 0.2rem;
  }

  .settings {
    display: flex;
    flex-direction: column;
  }

  .actions {
    text-align: right;

    button {
      margin-left: 0.3rem;
    }
  }

  .mat-slide-toggle {
    margin-bottom: 1rem;
  }
}
