<button mat-button class="field-component" [ngClass]="{
    'darker': isEvenField,
    'brighten': !isEvenField,
    'selected': selected,
    'last-move': isLastMove,
    'highlight-possible-moves': (playerService.settings | async).highlightPossibleMoves,
    'possible-to-move':
      possibleMove === MoveType.MOVE ||
      possibleMove === MoveType.ATTACK ||
      possibleMove === MoveType.EN_PASSANT ||
      possibleMove === MoveType.PROMOTION ||
      possibleMove === MoveType.CASTLING
  }">
  <app-figure [chessFigure]="figure.chessFigure" [color]="figure.color"></app-figure>
</button>
