@import "../../../../../variables.scss";

.field-component {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.4s ease;
  min-width: $small_field_size;
  min-height: $small_field_size;
  line-height: unset;
  padding: unset;
  margin: 2px;

  @media only screen and (min-width: 768px) {
    min-width: $large_field_size;
    min-height: $large_field_size;
    font-size: 1.6rem;
  }

  &.darker {
    background-color: #7e7e7e;
  }

  &.brighten {
    background-color: #efefef;
  }

  &.last-move {
    background-color: #ff4081;
  }

  &.selected {
    background-color: #3f51b5;
  }

  &.highlight-possible-moves {

    &.possible-to-move {
      background-color: #3f51b5;
    }

    &.under-attack {
      background-color: #ff4081;
    }

  }

}
