<mat-form-field class="change-language-component">
  <mat-select [(ngModel)]="language" (ngModelChange)="onLanguageChange($event)">
    <mat-option *ngFor="let lang of Language | keyvalue" [value]="lang.key">
      {{lang.value}}
    </mat-option>
  </mat-select>
</mat-form-field>
