.choose-promotion-figure-component {

  .figure-buttons {
    text-align: center;

    .figure-button {
      margin: 1rem;
      font-size: 1.5rem;
      height: 3.8rem;
      width: 3.8rem;
      min-width: unset;
    }
  }

  .actions {
    justify-content: flex-end;
  }
}
