<div class="choose-promotion-figure-component">
  <div mat-dialog-content class="figure-buttons">
    <button mat-raised-button class="figure-button" *ngFor="let figure of possibeFigures"
      [color]="(figure.chessFigure === selected) ? 'primary' : 'default'" (click)="onSelect(figure.chessFigure)">
      <fa-icon class="icon" [icon]="figure.icon"></fa-icon>
    </button>
  </div>
  <div mat-dialog-actions class="actions">
    <button mat-button (click)="onCancel()">
      {{ 'common.cancel' | translate }}
    </button>
    <button mat-raised-button color="primary" (click)="onConfirm()" cdkFocusInitial
      [disabled]="!selected">{{ 'common.ok' | translate }}
    </button>
  </div>
</div>
