<mat-card class="login-component">

  <mat-card-header class="header">
    <mat-card-title>
      <fa-icon class="icon" [icon]="faChess"></fa-icon>
    </mat-card-title>
    <mat-card-subtitle *ngIf="!(authService.isReady | async)">
      {{ 'login.session.refreshing' | translate }}
    </mat-card-subtitle>
    <mat-card-subtitle *ngIf="authService.isReady | async">
      {{ 'login.session.not-logged-in' | translate }}
    </mat-card-subtitle>
  </mat-card-header>

  <mat-card-content *ngIf="!(authService.isReady | async)" class="content">
    <mat-spinner class="loading"></mat-spinner>
  </mat-card-content>
  <mat-card-content *ngIf="authService.isReady | async" class="content">
    <button class="login-button" mat-raised-button color="primary"
      (click)="authService.onLoginWithGoogle()">Google</button>
    <button class="login-button" mat-raised-button color="primary"
      (click)="authService.onLoginWithFacebook()">Facebook</button>
    <button class="login-button" mat-raised-button
      (click)="authService.onLoginWithAnonymously()">{{ 'login.anonymously' | translate }}</button>
  </mat-card-content>

  <mat-card-content class="language">
    <app-change-language class="select"></app-change-language>
  </mat-card-content>

</mat-card>
