.login-component {
  min-width: 17rem;

  .header {
    flex-direction: column;
    text-align: center;
    padding-bottom: 1rem;

    .icon {
      font-size: 5rem;
      margin-bottom: 0.2rem;
      display: inline-block;
    }
  }

  .content {
    text-align: center;

    .loading {
      margin: auto;
    }

    .login-button {
      width: 100%;

      &:not(:last-of-type) {
        margin-bottom: 0.5rem;
      }
    }
  }

  .language {
    text-align: right;
    display: flex;
    justify-content: flex-end;

    .select {
      max-width: 7rem;
      display: block;
    }
  }
}
