.room-component {

  .loading {
    margin: auto;
  }

  .header {
    flex-direction: column;
    text-align: center;

    .icon {
      font-size: 5rem;
      margin-bottom: 0.2rem;
      display: inline-block;
    }
  }
}
