<div class="room-component">

  <app-navigation-bar></app-navigation-bar>

  <mat-card *ngIf="(roomService.room | async) === null && !(roomService.isRoomOwner | async)">
    <mat-card-header class="header">
      <mat-card-title>
        <fa-icon class="icon" [icon]="faExclamationTriangle"></fa-icon>
        <br>
        {{ 'room.does-not-exist.title' | translate }}
      </mat-card-title>
      <mat-card-subtitle>
        {{ 'room.does-not-exist.subtitle' | translate }}
      </mat-card-subtitle>
    </mat-card-header>
  </mat-card>

  <mat-card *ngIf="(roomService.room | async) === null && (roomService.isRoomOwner | async)">
    <mat-card-header class="header">
      <mat-card-title>
        <mat-spinner class="loading"></mat-spinner>
        <br>
        {{ 'room.creating.title' | translate }}
      </mat-card-title>
      <mat-card-subtitle>
        {{ 'room.creating.subtitle' | translate }}
      </mat-card-subtitle>
    </mat-card-header>
  </mat-card>

  <mat-card *ngIf="(roomService.room | async) === undefined">
    <mat-card-header class="header">
      <mat-card-title>
        <mat-spinner class="loading"></mat-spinner>
        <br>
        {{ 'room.loading.title' | translate }}
      </mat-card-title>
      <mat-card-subtitle>
        {{ 'room.loading.subtitle' | translate }}
      </mat-card-subtitle>
    </mat-card-header>
  </mat-card>

  <app-game *ngIf="roomService.room | async"></app-game>

</div>
