$avatar-size: 2.7rem;
$action-button-margin: 0.2rem;

.player-banner-component {

  .player {
    display: flex;
    align-items: center;

    .avatar {
      img {
        width: $avatar-size;
        height: $avatar-size;
        border-radius: 50%;
      }
    }

    .name-and-side {
      margin-left: 1rem;
      display: flex;
      flex-direction: column;
      flex-grow: 1;

      .name {
        font-size: 1.4rem;
        font-weight: 400;
        max-width: 8.6rem;
        @media only screen and (min-width: 768px) {
          max-width: 20.6rem
        }
      }

      .side {
        font-weight: 300;
        color: rgba(0, 0, 0, 0.6);
      }
    }
  }

  .lower-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 2.4rem;

    .status {

      span {
        background-color: #e0e0e0;
        padding: 0.4rem 0.7rem;
        border-radius: 1rem;
        font-size: 0.8rem;
        white-space: nowrap;
        display: inline-block;

        &.primary {
          background-color: #3f51b5;
          color: #ffffff;
        }
      }
    }

    .beaten-figures {
      display: flex;
      flex-direction: row-reverse;
      justify-content: left;
      flex-wrap: wrap;

      .figure {
        margin: 0.3rem;
        font-size: 1rem;
        min-width: 0.7rem;
        text-align: center;
        @media only screen and (min-width: 768px) {
          font-size: 1.2rem;
        }
      }
    }
  }

  .action-buttons {
    margin-right: -$action-button-margin;
    text-align: right;

    button {
      margin: $action-button-margin;
    }

    .action-button {
      padding: 1.1rem;
      border-radius: 50%;
      min-width: unset;
      line-height: unset;
    }
  }
}
