<div class="player-banner-component">

  <div class="player">
    <div class="avatar" *ngIf="(playersListService.players | async)[playerUid]">
      <img
        [src]="(playersListService.players | async)[playerUid].avatarUrl || 'https://ssl.gstatic.com/images/branding/product/1x/avatar_anonymous_square_512dp.png'" />
    </div>
    <div class="name-and-side">
      <div class="name">
        <span *ngIf="(playersListService.players | async)[playerUid]; awaitForPlayerName">
          {{ (playersListService.players | async)[playerUid].displayedName || ('player.anonymous' | translate) }}
        </span>
        <ng-template #awaitForPlayerName>
          {{ 'player.loading' | translate }}
        </ng-template>
      </div>
      <div class="side">
        <span *ngIf="side === PlayerSide.WHITE">{{ 'game.player-banner.side.white' | translate }}</span>
        <span *ngIf="side === PlayerSide.BLACK">{{ 'game.player-banner.side.black' | translate }}</span>
      </div>
    </div>
    <div *ngIf="isThisPlayerBanner && result === GameStatus.UNDEFINED" class="action-buttons">
      <button mat-raised-button color="primary"
        *ngIf="((gameService.game | async).whitePlayerOffersADraw && side === PlayerSide.BLACK) || ((gameService.game | async).blackPlayerOffersADraw && side === PlayerSide.WHITE)"
        (click)="onAcceptDraw()" [matTooltip]="'game.player-banner.draw.accept' | translate">
        <fa-icon [icon]="faHandshake"></fa-icon>
      </button>
      <button mat-raised-button color="accent"
        *ngIf="((gameService.game | async).whitePlayerOffersADraw && side === PlayerSide.WHITE) || ((gameService.game | async).blackPlayerOffersADraw && side === PlayerSide.BLACK)"
        (click)="onCancelOfferingDraw()" [matTooltip]="'game.player-banner.draw.cancel' | translate">
        <fa-icon [icon]="faHandshake"></fa-icon>
      </button>
      <button mat-raised-button
        *ngIf="!((gameService.game | async).whitePlayerOffersADraw || (gameService.game | async).blackPlayerOffersADraw)"
        [matTooltip]="'game.player-banner.draw.offer' | translate" (click)="onOfferDraw()">
        <fa-icon [icon]="faHandshake"></fa-icon>
      </button>
      <button mat-raised-button (click)="onSurrender()" [matTooltip]="'game.player-banner.surrender' | translate">
        <fa-icon [icon]="faFlag"></fa-icon>
      </button>
    </div>
  </div>

  <div class="lower-section">

    <div class="status">
      <div *ngIf="playsInThisGame; else guestSideBanner">
        <div *ngIf="isThisPlayerBanner">
          <span *ngIf="displayedStatus === DisplayedStatus.AWAITS">
            {{ 'game.player-banner.status.self.awaits' | translate }}
          </span>
          <span class="primary" *ngIf="displayedStatus === DisplayedStatus.TURN">
            {{ 'game.player-banner.status.self.turn' | translate }}
          </span>
          <span class="primary" *ngIf="displayedStatus === DisplayedStatus.IS_CHECKED">
            {{ 'game.player-banner.status.self.is-checked' | translate }}
          </span>
          <span class="primary" *ngIf="displayedStatus === DisplayedStatus.LOST">
            {{ 'game.player-banner.status.self.lost' | translate }}
          </span>
          <span class="primary" *ngIf="displayedStatus === DisplayedStatus.WON">
            {{ 'game.player-banner.status.self.won' | translate }}
          </span>
          <span class="primary" *ngIf="displayedStatus === DisplayedStatus.DRAW">
            {{ 'game.player-banner.status.self.draw' | translate }}
          </span>
          <span class="primary" *ngIf="displayedStatus === DisplayedStatus.SURRENDERED">
            {{ 'game.player-banner.status.self.surrendered' | translate }}
          </span>
        </div>
      </div>
      <ng-template #guestSideBanner>
        <span *ngIf="displayedStatus === DisplayedStatus.TURN">
          {{ 'game.player-banner.status.guest.turn' | translate }}
        </span>
        <span *ngIf="displayedStatus === DisplayedStatus.IS_CHECKED">
          {{ 'game.player-banner.status.guest.is-checked' | translate }}
        </span>
        <span class="primary" *ngIf="displayedStatus === DisplayedStatus.WON">
          {{ 'game.player-banner.status.guest.won' | translate }}
        </span>
        <span class="primary" *ngIf="displayedStatus === DisplayedStatus.DRAW">
          {{ 'game.player-banner.status.guest.draw' | translate }}
        </span>
        <span *ngIf="displayedStatus === DisplayedStatus.SURRENDERED">
          {{ 'game.player-banner.status.guest.surrendered' | translate }}
        </span>
      </ng-template>
    </div>

    <div class="beaten-figures">
      <app-figure *ngFor="let figure of beatenFiguresList" class="figure" [chessFigure]="figure" [color]="side">
      </app-figure>
    </div>

  </div>

</div>
