.figure-component {
    stroke-width: 1.4rem;
    stroke-linecap: butt;
    stroke-linejoin: bevel;
    stroke-opacity: 1;
    fill-opacity: 1;

    &.white {
      color: white;
      stroke: black;
    }

    &.black {
      color: black;
      stroke: white;
    }
  }