<div class="board-component">
  <div class="responsive-scroll-x">
    <div class="board" [ngClass]="{'reverse': playsAs === PlayerSide.BLACK}">

      <div class="row">
        <div class="col">
          <div class="description vertical horizontal"></div>
        </div>
        <div *ngFor="let col of BoardLayout.cols" class="col">
          <div class="description horizontal">
            {{col}}
          </div>
        </div>
        <div class="col">
          <div class="description vertical horizontal"></div>
        </div>
      </div>

      <div *ngFor="let row of BoardLayout.rows" class="row">
        <div class="col">
          <div class="description vertical">
            {{row}}
          </div>
        </div>
        <div *ngFor="let col of BoardLayout.cols" class="col">
          <app-field [chessLogic]="chessLogic" [row]="row" [col]="col" (click)="clickedAt(row, col)"></app-field>
        </div>
        <div class="col">
          <div class="description vertical">
            {{row}}
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="description vertical horizontal"></div>
        </div>
        <div *ngFor="let col of BoardLayout.cols" class="col">
          <div class="description horizontal">
            {{col}}
          </div>
        </div>
        <div class="col">
          <div class="description vertical horizontal"></div>
        </div>
      </div>

    </div>
  </div>
</div>
