@import "../../../../variables.scss";


.board-component {

  max-width: calc(100vw - 2rem);
  user-select: none;

  .board {
    display: flex;
    flex-direction: column-reverse;

    &.reverse {
      flex-direction: column;
    }

    .row {
      display: flex;
      flex-direction: row;
    }

    .col {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .description {
      margin: 2px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: rgb(48, 48, 48);
      text-transform: uppercase;
      font-weight: 200;

      &.vertical {
        min-width: $description_height;
        min-height: $small_field_size;
        @media only screen and (min-width: 768px) {
          min-height: $large_field_size;
        }
      }

      &.horizontal {
        min-width: $small_field_size;
        min-height: $description_height;
        @media only screen and (min-width: 768px) {
          min-width: $large_field_size;
        }
      }

      &.vertical.horizontal {
        min-width: $description_height;
        min-height: $description_height;
      }
    }

  }
}
