.side-panel-component {

  min-width: 11rem;
  min-height: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  @media only screen and (min-width: 500px) {
    max-width: 11rem;
  }

  &.white {
    background: white;
  }

  &.black {
    background: black;
    color: white;
  }

  .title {
    flex-grow: 1;
    font-weight: 200;

    .name {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  .button-join {
    width: 100%;
    text-transform: uppercase;
  }

  .player-status {
    display: flex;

    .button-ready {
      flex-grow: 1;
      text-transform: uppercase;
    }

    .not-ready {
      flex-grow: 1;
    }

    .button-leave {
      margin-left: 0.4rem;
      min-width: unset;
      height: 36px;
    }
  }

  .side-bottom {
    display: flex;
    align-items: flex-end;

    .side-name {
      text-transform: uppercase;
      font-weight: 200;
      flex-grow: 1;
      font-size: 1.2rem;
    }

    .side-status {
      align-self: flex-end;
      margin-bottom: 0.2rem;
    }
  }
}
