<mat-card class="side-panel-component" [ngClass]="{'black': color==='black', 'white': color==='white'}">

  <mat-card-title class="title">
    <div *ngIf="playerUid !== null">
      <div class="name" *ngIf="(playersListService.players | async)[playerUid]; awaitForPlayerName">
        {{ (playersListService.players | async)[playerUid].displayedName || ('player.anonymous' | translate) }}
      </div>
      <ng-template #awaitForPlayerName>
        {{ 'player.loading' | translate }}
      </ng-template>
    </div>
  </mat-card-title>

  <mat-card-content>
    <button *ngIf="playerUid === null" mat-raised-button color="primary" class="button-join" (click)="onJoin.emit()">
      {{ 'game.choose-side.side-panel.join' | translate }}
    </button>
  </mat-card-content>

  <mat-card-content class="player-status" *ngIf="playerUid === (authService.user | async).uid">
    <button mat-raised-button *ngIf="playerReady === false" (click)="onReady.emit()" color="primary"
      class="button-ready">
      {{ 'game.choose-side.side-panel.ready' | translate }}
    </button>
    <div *ngIf="playerReady === true" class="not-ready">
      {{ 'game.choose-side.side-panel.not-ready' | translate }}
    </div>
    <button mat-raised-button *ngIf="(roomService.isRoomOwner | async) !== true" class="button-leave"
      [matTooltip]="'game.choose-side.side-panel.leave' | translate" (click)="onLeave.emit()">
      <fa-icon [icon]="faSignOutAlt"></fa-icon>
    </button>
  </mat-card-content>

  <mat-card-content class="side-bottom">
    <div class="side-name" *ngIf="color === 'white'">
      {{ 'game.choose-side.side-panel.name.white' | translate }}
    </div>
    <div class="side-name" *ngIf="color === 'black'">
      {{ 'game.choose-side.side-panel.name.black' | translate }}
    </div>
    <div class="side-status">
      <fa-icon [icon]="faCheckCircle" *ngIf="playerReady === true"
        [matTooltip]="'game.choose-side.side-panel.status-icon.ready' | translate"></fa-icon>
      <fa-icon [icon]="faCircle" *ngIf="playerReady === false"
        [matTooltip]="'game.choose-side.side-panel.status-icon.not-ready' | translate"></fa-icon>
    </div>
  </mat-card-content>

</mat-card>
