$player-spacing: 0.2rem;
$image-size: 1.7rem;

.players-list-component {
  display: flex;
  max-width: fit-content;
  flex-direction: row;
  flex-wrap: wrap;
  margin: -$player-spacing;
  margin-top: 0.7rem;

  .player {
    padding: $player-spacing;

    img {
      width: $image-size;
      height: $image-size;
      border: solid 0.12rem;
      border-radius: 50%;

      &.owner {
        border-color: rgb(231, 209, 13);
        background-color: rgb(231, 209, 13);
      }

      &.active {
        border-color: rgb(0, 143, 19);
        background-color: rgb(0, 143, 19);
      }

      &.banned {
        border-color: rgb(179, 12, 12);
        background-color: rgb(179, 12, 12);
      }
    }
  }
}
