<div class="players-list-component">
  <div *ngFor="let player of (playersListService.players | async) | keyvalue" class="player">
    <img
      [src]="player.value.avatarUrl || 'https://ssl.gstatic.com/images/branding/product/1x/avatar_anonymous_square_512dp.png'"
      [matTooltip]="player.value.displayedName || ('player.anonymous' | translate)" [ngClass]="{
            'owner': player.value.status === PlayerStatus.OWNER,
            'active': player.value.status === PlayerStatus.ACTIVE,
            'banned': player.value.status === PlayerStatus.BANNED
        }" />
  </div>
</div>
