<mat-card class="choose-side-component">
  <mat-card-header class="header">
    <mat-card-title>
      <fa-icon class="icon" [icon]="faChess"></fa-icon>
      <br>
      {{ 'game.choose-side.title' | translate }}
    </mat-card-title>
    <mat-card-subtitle>
      <span *ngIf="roomService.isRoomOwner | async; else notOwner">
        {{ 'game.choose-side.owner-subtitle' | translate }}
      </span>
      <ng-template #notOwner>
        {{ 'game.choose-side.guest-subtitle' | translate }}
      </ng-template>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="sides">
      <app-side-panel color="white" [playerUid]="(gameService.game | async).whitePlayerUid"
        [playerReady]="(gameService.game | async).whitePlayerReady" (onJoin)="onJoinWhite()" (onLeave)="onLeaveWhite()"
        (onReady)="onReadyWhite()" (onNotReady)="onNotReadyWhite()"></app-side-panel>
      <div class="spacer"></div>
      <app-side-panel color="black" [playerUid]="(gameService.game | async).blackPlayerUid"
        [playerReady]="(gameService.game | async).blackPlayerReady" (onJoin)="onJoinBlack()" (onLeave)="onLeaveBlack()"
        (onReady)="onReadyBlack()" (onNotReady)="onNotReadyBlack()"></app-side-panel>
    </div>
    <app-players-list></app-players-list>
  </mat-card-content>
</mat-card>
