.choose-side-component {

  .header {
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
    max-width: 27rem;

    .icon {
      font-size: 5rem;
      margin-bottom: 0.2rem;
      display: inline-block;
    }
  }

  .sides {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 1rem;
    margin-top: 1.1rem;

    @media only screen and (min-width: 500px) {
      flex-direction: row;
    }

    .spacer {
      width: 1rem;
      height: 1rem;
    }
  }
}
